{% extends 'base.html.twig' %}

{% block title %}Jeu des 1000€{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1>Jeu des 1000€</h1>
		</div>
		Hello Guy's
	</div>
    
{% endblock %}
