{% extends 'base.html.twig' %}

{% block title %}Jeu des 1000€{% endblock %}

{% block body %}
	<div class="container mt-5">
		ceci est un BUG ! merci de prévenir les administrateurs du site : maxime.code<at>humandata.info
	</div>
{% endblock %}
