{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    	<div class="row">
   			{% for question in questions %}
   				<div class="card">
   								{{ question.question }}
   				</div>

			{% endfor %}
    	</div>
	</div>
{% endblock %}


